
@{
    ViewData["Title"] = "Index";
}

<form method="post" asp-controller="demo" asp-action="Generate">
    <input type="text" placeholder="Product Id" name="productId" value="@ViewBag.productId" />
    <input type="submit" value="Generate" />
</form>
@if (ViewBag.productId != null)
{
    <qrcode content="@ViewBag.productId" width="200" height="200" />
}


